<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title" style="background-color: #e3f2fd;">
        <span>{{title}}</span>
        <span>Posted by {{user.username}} on
        {{created_at}}
        |</span>
      </div>
      
      <div>
          {{content}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>

